<launch>
  <param name="directory_path" value="$(arg directory_path)"/>
  <node pkg="mpl_calibration_toolbox" type="image_publisher" name="image_publisher" output="screen"/>
  <node pkg="camera_calibration" type="cameracalibrator.py" name="cameracalibrator" output="screen" args="--size 9x6 --square 0.037 image:=/recorded_image --no-service-check"/>
</launch>
